@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,600;1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color:#F6F6F6
}
.destaque-titulo{

color:#07e825;
}

.apresentacao{
padding:7% 15%;
display:flex;
align-items: center;
justify-content:space-between;


}
.apresentacao__junior{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
   
}
.titulo__tamanho{
    font-size: 2.25rem;
    font-family:"Krona One", sans-serif; 

}

.subtitulo{
     
    font-family:"Krona One", sans-serif;
    font-weight: 400;
    font-size: 1.5rem;



}

.paragrafo__tamanho{
    font-size:1.5rem ;
    font-family:"Montserrat", sans-serif;
}

.botao{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
gap: 32px;

}
.cor__botao{
display:flex;
justify-content: center;
gap:16px;
border: 2px solid#07e825;
width: 50%;
text-align: center;
border-radius: 8px;
font-size: 1.5rem;
font-family: "Montserrat", sans-serif;
 font-weight: 600;
padding: 21.5px 0;
text-decoration:none ;
color:#F6F6F6

}

.cor__botao:hover{

background-color: #272727;


}.apresentacao__imagem{

width: 100%;





}


.rodape{

font-family:"Montserrat", sans-serif;
font-weight: 400;
color: #272727;
background-color: #07e825;
text-align: center;
padding: 24px;



}
.cabesalho__menu{
display:flex;
gap: 10px;


}.cabesalho__7{

    padding-left: 20px;
    
    

}

.cabesalho{
 
padding:2% 2% 1% 15% ;
background-color: #272727;






}
.cabesalho__1{
    
align-items: center;
display: flex;
gap: 5px;
width: 8000px;
font-family:"Montserrat", sans-serif;
font-size: 1.5rem;
font-weight: 600;
color: #07e825;
text-decoration:none;

}
.cabesalho__1:hover{
 
    color:#F6F6F6

}

